{% extends 'layout.html' %}

{% block body %}
    <div id="intro">
        <h2>Introduction</h2>

        <p>This simple service uses GitHub webhooks to catch updates of GitHub repository Issues and update the assignees of that Issues by matching issues with preconfigured patterns. It is mainly homework for MI-PYT course, but can be actually quite useful although it consists only of this info page (<code>GET /</code>) and webhook listener (<code>POST /</code>).</p>
    </div>
    <div id="rules">
        <h2>GitHub Issue Assigner</h2>

        <p>Issues will be assigned by user: <code>{{ user|github_user_link }}</code></p>

        {% for rule, patterns in rules.items() %}
            <ul>
                <li>{{ rule }}
                    <ul>
                        {% for pattern in patterns %}
                            <li><code>{{ pattern }}</code></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </div>
    <div id="usage">
        <h2>Service usage</h2>

        <p>To manage Issues of your repo by this service you need to know configured <em>webhook secret</em>, then just:</p>

        <ol>
            <li>Go to your repository settings at GitHub</li>
            <li>Pick <em>webhooks</em> from left menu</li>
            <li>Press <em>Add webhook</em></li>
            <li>Create webhook with configuration below and press <em>Add webhook</em></li>
        </ol>

        <h3>Webhook configuration</h3>

        <dl>
            <dt>Payload URL</dt>
            <dd>{{ request.url }}</dd>
            <dt>Content type</dt>
            <dd>application/json</dd>
            <dt>Secret</dt>
            <dd><em>webhook secret</em> (cannot be published)</dd>
            <dt>Which events would you like to trigger this webhook?</dt>
            <dd>Let me select individual events: <strong>Issues</strong></dd>
            <dt>Active</dt>
            <dd>Yes</dd>
        </dl>
    </div>
{% endblock %}
